@mainColor: #608FFF;
@mainBgColor: #dfe9ff;
@borderColor: #e8e8e8;
@textColor: #353B4A;
@textLightColor: #868992;
@baseBgColor: #f6f6f6;
@borderColor: #e8e8e8;
@disabledColor: fade(#000, 25%);

@box-shadow: 0px 1px 4px 0px rgba(150, 159, 175, 0.35);

@headerHeight: 50px;
@footerHeight: 40px;



